@model InfomedBenner.Models.Medicamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sequencial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sequencial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unimed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unimed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicamentoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicamentoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
